<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">

                        <h3 class="pt-3 font-weight-bold">Register</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="submitted && registerForm.get('firstName')?.errors">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstName" type="text" placeholder="First Name">
                                </div>
                            </div>
                            <small *ngIf="submitted && registerForm.get('firstName')?.hasError('required')"
                                class="text-danger">First name is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="submitted && registerForm.get('lastName')?.errors">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastName" type="text" placeholder="Last Name">
                                </div>
                            </div>
                            <small *ngIf="submitted && registerForm.get('lastName')?.hasError('required')"
                                class="text-danger">Last name is required</small>
                            <div class="form-group pt-3">
                                <div class="row">
                                    <div class="col form-group">
                                        <select formControlName="gender" name="gender" class="form-select" [class.error]="submitted && registerForm.get('gender')?.errors">
                                            <option value="null" disabled selected>Select Your Gender</option>
                                            <option *ngFor="let gender of userGenders" [value]="gender">{{ gender }}
                                            </option>
                                        </select>
                                        <small *ngIf="submitted && registerForm.get('gender')?.hasError('required')"
                                            class="text-danger">Gender is required</small>
                                    </div>
                                    <div class="col" [class.error]="submitted && registerForm.get('age')?.errors">
                                        <input type="number" formControlName="age" class="form-control"
                                            placeholder="Age">
                                        <small *ngIf="submitted && registerForm.get('age')?.hasError('required')"
                                            class="text-danger">Age is required</small>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="submitted && registerForm.get('email')?.errors">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="submitted && registerForm.get('email')?.hasError('required')"
                                class="text-danger">Email is required</small>
                            <small class="text-danger"
                                *ngIf="submitted && registerForm.get('email')?.hasError('pattern')">Invalid email
                                address</small>
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="submitted && registerForm.get('password')?.errors">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="inputType" placeholder="Password">
                                    <span (click)="togglePasswordVisibility()" class="bi {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="submitted && registerForm.get('password')?.hasError('required')"
                                class="text-danger">Password is required</small>
                            <small class="text-danger"
                                *ngIf="submitted && registerForm.get('password')?.hasError('minlength') || registerForm.get('password')?.hasError('maxlength')">
                                Password must be at least 6 characters
                            </small>
                            <button *ngIf="!loader" type="submit" class="btn btn-primary btn-block mt-4 w-100">Create
                                Account</button>
                            <button *ngIf="loader" class="btn btn-primary  btn-block mt-4 w-100" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Creating Account
                            </button>
                            <div class="text-center pt-4 text-muted">
                                Already have an account? <a id="forget" routerLink="/account/login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>