@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~font-awesome/css/font-awesome.min.css';


body{
    background: #E6E6E6;
}

.btn-primary{
    background: #2A62F1;
}


.title {
    color: #2A62F1;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  